<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nova pagina 2</title>
</head>

<body>

<p><img src="%%GLOBAL_IMG_PATH%%/logo.jpg" /></p><h2 style="font-size:22px; height:30px; color:#cc6600; border-bottom:dashed 1px gray">%%LNG_ThanksForYourOrder%%</h2>
<div style="width:100%; padding:10px; background-color:#FFF4EA">
			<img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" />&nbsp;
			%%LNG_YourOrderIDIs%% <strong>#%%GLOBAL_OrderNumber%%</strong>. %%GLOBAL_ViewOrderStatusMsg%%
		</div>%%GLOBAL_PendingPaymentNotice%%
		<br />
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="table1">
			<tr>
				<td id="Left" width="50%" valign="top">
					<h3 style="font-family:Arial; font-size:18px">%%LNG_ShippingToAddress%%</h3>
					<div style="font-family:Arial; font-size:12px">%%GLOBAL_ShippingAddress%%</div>
				</td>
				<td id="Right" width="50%" valign="top">
					<h3 style="font-family:Arial; font-size:18px">%%LNG_BillingAddress%%</h3>
					<div style="font-family:Arial; font-size:12px">%%GLOBAL_BillingAddress%%</div>
				</td>
			</tr>
		</table>
		<br /><br />
		<h3 style="font-size:18px">%%LNG_YourOrderWillBeShippedBy%%</h3>
		<div style="font-size:12px">
			%%GLOBAL_ShippingMethod%%
		</div>
		%%GLOBAL_PendingPaymentDetails%%

		%%GLOBAL_OrderCommentBlock%%

		<h3 style="font-size:18px">%%LNG_YourOrderContainsTheFollowingItems%%</h3>
		%%GLOBAL_CartItemColumns%%

		%%SNIPPET_CartItems%%
		<table width="100%" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td align="right">
					<table width="200" id="table3">
						<tr>
							<td width="100" align="right" style="font-family: Arial; font-size:12px">%%LNG_Items%%:</td>
							<td width="100" align="right" style="font-family:Arial; font-size:12px">%%GLOBAL_ItemTotal%%</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		%%SNIPPET_InvoiceEmailShippingTotal%%
		%%SNIPPET_InvoiceEmailHandlingTotal%%
		%%SNIPPET_InvoiceEmailGiftWrapTotal%%
		%%SNIPPET_InvoiceEmailTaxTotal%%
		<table width="100%" id="table4" cellspacing="0" cellpadding="0">
			<tr>
				<td align="right">
					<table width="200" id="table5">
						<tr>
							<td width="100" align="right" style="font-family: Arial; font-size:12px"><strong>%%LNG_TotalCost%%:</strong></td>
							<td width="100" align="right" style="font-family:Arial; font-size:12px"><strong>%%GLOBAL_TotalCost%%</strong></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		%%SNIPPET_InvoiceEmailTaxTotalIncluded%%

		%%GLOBAL_EmailFooter%%
	<p>&nbsp;</p>

</body>

</html>
