<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
<div id="Container">
	%%Panel.Header%%
	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Left" id="LayoutColumn1">
			%%Panel.SideCategoryList%%
			%%Panel.SidePopularVendors%%
			%%Panel.SideShopByBrand%%
			%%Panel.SideLiveChatServices%%
			%%Panel.SideNewProducts%%
			%%GLOBAL_PDF%%
			%%GLOBAL_HTMLFormas%%
			%%GLOBAL_HTMLFormasE%%
			<div class="Block BrandList Moveable Panel" id="SideShopByBrand" align="center">
			%%Banner.Esquerdo%%
			</div>

		</div>
		<div class="Content" id="LayoutColumn2">
			%%Banner.TopBanner%%
            %%GLOBAL_ScrollHTML%%
			%%Panel.HomeFeaturedProducts%%
			%%Panel.HomeNewProducts%%
			%%Panel.HomeRecentBlogs%%
			%%Panel.HomeTags%%
			<br>
			%%Banner.BottomBanner%%
		</div>
		<div class="Right" id="LayoutColumn3">
			%%Panel.SideCartContents%%
			%%Panel.SideTopSellers%%

			
			%%Panel.SideNewsletterBox%%
			%%Panel.SidePopularProducts%%
			%%GLOBAL_Twitter%%
			<div class="Block BrandList Moveable Panel" id="SideShopByBrand" align="center">
			%%Banner.Direito%%
			</div>

	</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>