<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
		%%Panel.Header%%
		<div id="Wrapper">
			%%Panel.WrapperBanner%%
			<div class="Left" id="LayoutColumn1">
				%%Panel.SideCategoryList%%
				%%Panel.SideNewsletterBox%%
			</div>
			<div class="Content Wide WideWithLeft" id="LayoutColumn2">
<div class="Block Breadcrumb Moveable Panel" id="NewsBreadcrumb">
<ul><li><a href="%%GLOBAL_ShopPath%%">Principal</a></li><li>Blog</li></ul>
</div>
<h2>Blog</h2>
<ul>
%%GLOBAL_Link%%
%%GLOBAL_Links%%
</ul>
</div>
			<br class="Clear" />
		</div>
		%%Panel.Footer%%
	</div>
</body>
</html>