<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
<table  id="Container" class="Virtuapro1" width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
	%%Panel.Header%%</td></tr>
  <tr>
    <td height="230" background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/fundo_banner.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20">&nbsp;</td>
        <td width="310">&nbsp;</td>
        <td width="550">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td rowspan="2">&nbsp;</td>
        <td height="15">&nbsp;</td>
        <td width="550" height="170" rowspan="2" align="center" valign="middle" background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/fundo_branco_banner.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="500" height="170"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" data="scroll.swf" type="application/x-shockwave-flash" height="165" width="100%">
<param name="movie" value="modificacoes/scroll.swf">
<param value="false" name="menu">
<param value="FFFFFF" name="bgcolor">
<param value="host=modificacoes/feed.php" name="flashvars">
<embed src="modificacoes/scroll.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="host=modificacoes/feed.php" type="application/x-shockwave-flash" wmode="transparent" height="170" width="100%">
</object></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td rowspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="%%GLOBAL_ShopPath%%/templates/rosa/imagens/ofertas_incriveis.png" width="288" height="154" /></td>
      </tr>
    </table></td>
  </tr>
  <tr><td>
	<div id="Wrapper">
		%%Panel.WrapperBanner%%
        %%Banner.TopBanner%%
		<div class="Left" id="LayoutColumn1">
                 	%%Panel.SideCategoryList%%
                        %%Panel.Enquete%%
                        %%Panel.SidePopularVendors%%
			%%Panel.SideShopByBrand%%
			%%Panel.SideNewsletterBox%%
			%%Panel.SideLiveChatServices%%
            %%Banner.Esquerdo%%
            %%Panel.HomeTags%%
		</div>
        <div class="Right" id="LayoutColumn3">
			%%Panel.SideTopSellers%%
            %%Banner.Direito%%
			
		</div>
		<div class="Content" id="LayoutColumn2">

			
            <div id="divTC" class="divTabControl">
            <div class="divTabs">
            <ul class="ulTabs">
                            <li id='li2'  >
                                <span id="cfForm:L7:0:L7L2">       Produtos em Destaque           </span>
                            </li>
                            </ul>
            </div>
			
                <div class="divTabArea" id='div2'>
                    <ul class="ProdutosListagem">
                   		%%Panel.HomeFeaturedProducts%%
                    </ul>
                </div>
                <div class="divTabArea" id='div3'>
                  <ul class="ProdutosListagem">
                   		%%Panel.SidePopularProducts%%
                  </ul>
                </div>
                <div class="divTabArea" id='div4'>
                     <ul class="ProdutosListagem">
                      	%%Panel.SideTopSellers%%
                    </ul>
                </div>
        </div>
        <script type="text/javascript">tabControl(document.getElementById('divTC'));</script>                            

    
    
    
            <hr />
			%%Panel.HomeNewProducts%%
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>carrosel</title>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="AC_RunActiveContent.js" language="javascript"></script>
</head>
<body bgcolor="#ffffff">
<p align="center">
<!--url's used in the movie-->
<!--text used in the movie-->
<!--
<p align="left"><font face="Arial" size="12" color="#aa0303" letterSpacing="0.000000" kerning="0"><b>PASSE O MOUSE E CONFIRA PRODUTOS IMPERDÍVEIS!</b></font></p><p align="left"></p>
-->
<!-- saved from url=(0013)about:internet -->
<script language="javascript">
	if (AC_FL_RunContent == 0) {
		alert("This page requires AC_RunActiveContent.js.");
	} else {
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
			'width', '462',
			'height', '246',
			'src', 'carrosel',
			'quality', 'high',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'window',
			'devicefont', 'false',
			'id', 'carrosel',
			'bgcolor', '#ffffff',
			'name', 'carrosel',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','sameDomain',
			'movie', 'carrosel',
			'salign', ''
			); //end AC code
	}
</script>
<noscript>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="462" height="246" id="carrosel" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="allowFullScreen" value="false" />
	<param name="movie" value="carrosel.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	
	<embed src="carrosel.swf" quality="high" bgcolor="#ffffff" width="462" height="246" name="carrosel" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</noscript>
</p>
</body>
</html>
			%%Panel.HomeRecentBlogs%%
            		%%Banner.BottomBanner%%
		</div>
		
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>